<header class="header">
  <div class="container">
    <div class="navbar navbar-expand-lg navbar-dark">
      <a routerLink="/" class="navbar-brand">Angular Cinema</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/movies" class="nav-link">Movies</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Offers</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">News</a>
          </li>
        </ul>
        <app-movie-search></app-movie-search>
      </div>
    </div>
  </div>
</header>
<main id="main" class="site-main main">
  <router-outlet></router-outlet>
</main>
<footer class="footer mt-4 py-4">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-item d-lg-flex justify-content-lg-between laign-items-lg-center">
        <ul id="menu-footer" class="nav sub-nav footer-sub-nav">
          <li class="menu-item mr-4"><a href="">Help Center</a></li>
          <li class="menu-item mr-4"><a href="">Terms of Service</a></li>
          <li class="menu-item"><a href="">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
